* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: $font-color;
}

button,
button:focus {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: white;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $font-color;
}

.accentFontColor {
  color: $dark-second-color;
  font-weight: bold;
  font-size: $font-medium;
  margin-bottom: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 110px;
  background-color: $white-color;
  border-bottom: 1px solid $accent-color;
  width: 100%;
  height: 50px;
}

#logo {
  font-size: $font-logo;
}

#header_search {
  display: flex;
  justify-self: center;
  padding: 2px 20px;
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid $accent-color;
  background-color: $background-color;
  outline: none;
  font-size: $font-small;
}

#login {
  font-size: $font-large;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  padding: 20px 80px;
  justify-content: space-between;
  background-color: $background-color;
}

.main_item {
  display: flex;
  flex-direction: row;
}
