.popupBgd {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparentize($black-color, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  width: 60em;
  height: 40em;
  border-radius: 15px;
  padding: 2em 3em;
}

.popup_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
}

.popup_cancelBtn {
  width: 9em;
  padding: 0.5em;
  border: 2px solid $primary-color;
  background-color: $background-color;
  color: $font-color;
  font-weight: bold;
  border-radius: 20px;
}

.popup_cancelBtn:hover {
  background-color: $dark-second-color;
  color: $accent-font-color;
}

.popup_addBtn {
  width: 9em;
  padding: 0.5em;
  background-color: $primary-color;
  color: $font-color;
  font-weight: bold;
  border-radius: 20px;
}

.popup_addBtn:hover {
  background-color: $dark-second-color;
  color: $accent-font-color;
}

.error_message {
  color: $dark-second-color;
  font-size: $font-regular;
  font-weight: bold;
  margin: 0 1em;
}

.add_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 1.2em;
}

.title_label {
  font-size: $font-logo;
  color: $dark-second-color;
  font-weight: bold;
  margin: 0 1em;
}

.input_title {
  width: 38em;
  overflow: hidden;
  border: 2px solid $accent-font-color;
  border-radius: 15px;
  padding: 1em;
  height: 2.5em;
  outline: none;
  font-size: $font-regular;
}

.popup_main {
  display: flex;
  width: 100%;
  height: 28em;
}

.accentFontColor {
  color: $dark-second-color;
  font-weight: bold;
  font-size: $font-small;
  margin-bottom: 1.5rem;
}

.add_ingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  margin-right: 1em;
  background-color: $white-color;
  flex-basis: 40%;
  height: 100%;
  border: 3px solid $primary-color;
  border-radius: 20px;
  overflow-y: auto;
}

.addIngredients__grid {
  display: grid;
  grid-template: 1.5em / 3fr 1fr 1fr;
  gap: 0.5em;
}

.addIngredients__label {
  font-size: $font-small;
}

.addIngredients__gridColumn--first {
  grid-column: 1;
  justify-self: center;
}
.addIngredients__gridColumn--second {
  grid-column: 2;
  justify-self: center;
}
.addIngredients__gridColumn--third {
  grid-column: 3;
  justify-self: center;
}

#title_ingredient {
  margin: 0 75px;
}

.add_recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background-color: $white-color;
  flex-basis: 60%;
  height: 100%;
  border: 3px solid $primary-color;
  border-radius: 20px;
  overflow-y: auto;
}

.add_recipe {
  width: 100%;
  margin: 0.3em 0;
}

.addIngredients__input {
  overflow: hidden;
  border: 2px solid $accent-font-color;
  border-radius: 20px;
  padding: 0.4em 0.7em;
  outline: none;
  width: 100%;
  font-size: $font-small;
}

.input_recipe {
  display: block;
  padding: 0.5em 0.8em;
  line-height: 1.4em;
}

.input_recipe[contentEditable]:empty::before {
  content: 'Add next recipe step';
  color: gray;
}

.input_quantity {
  text-align: right;
}

.input_measurement {
  text-align: right;
}

.popup_btn_fontsize {
  font-size: $font-regular;
}

@media screen and (max-width: $mediaQuery-tablet) {
  .addIngredients__input {
    font-size: $font-regular;
  }
  .popup_btn_fontsize {
    font-size: $font-medium;
  }
  .input_title {
    width: 28em;
    font-size: $font-large;
  }

  .accentFontColor {
    font-size: $font-regular;
  }
  .addIngredients__label {
    font-size: $font-regular;
  }
  .error_message {
    font-size: $font-regular;
  }
}

@media screen and (max-width: $mediaQuery-mobile) {
  .popup_container {
    width: 60em;
    height: 95em;
  }

  .add_title {
    flex-direction: column;
  }

  .title_label {
    font-size: $font-mobile-logo;
    margin-top: 0.8em;
  }

  .input_title {
    width: 100%;
    margin: 1.5em 0 1em;
    font-size: $font-mobile-large;
    border-radius: 10px;
    height: 2.5em;
  }

  .popup_main {
    flex-direction: column;
    height: 80em;
  }

  .accentFontColor {
    font-size: $font-mobile-regular;
  }
  .add_ingList {
    margin-right: 0;
    margin-bottom: 2em;
  }

  .addIngredients__label {
    font-size: $font-mobile-small;
  }
  .addIngredients__input {
    font-size: $font-mobile-regular;
  }
  .popup_btn_fontsize {
    font-size: $font-mobile-regular;
  }
  .error_message {
    font-size: $font-mobile-regular;
  }
}
