.popupBgd {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparentize($black-color, 0.6);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background-color;
  width: 70%;
  height: 85%;
  border-radius: 15px;
  padding: 2em 3em;
}

.popup_btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2em;
}

.error_message {
  color: $dark-second-color;
  font-size: $font-regular;
  font-weight: bold;
  margin: 0 1em;
}

.add_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 0 1.2em;
}

.title_label {
  font-size: $font-logo;
  color: $dark-second-color;
  font-weight: bold;
  margin: 0 1em;
}

.input_title {
  width: 30em;
  border-radius: 15px;
  padding: 1em;
  height: 2.5em;
  font-size: $font-regular;
}

.popup_main {
  display: flex;
  width: 100%;
  height: 70%;
}

.add_ingList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  margin-right: 0.6em;
  background-color: $white-color;
  flex-basis: 40%;
  height: 100%;
  border: 3px solid $primary-color;
  border-radius: 20px;
  overflow-y: auto;
}

.accentFontColor {
  color: $dark-second-color;
  font-weight: bold;
  font-size: $font-small;
  margin-bottom: 1.5rem;
}

.addIngredients__grid {
  display: grid;
  grid-template: 1.2em / 3fr 1fr 1fr;
  gap: 0.2em;
}

.addIngredients__label {
  font-size: $font-small;
  justify-self: center;
}

.add_recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em;
  background-color: $white-color;
  flex-basis: 60%;
  height: 100%;
  border: 3px solid $primary-color;
  border-radius: 20px;
  overflow-y: auto;
}

.add_recipe {
  width: 100%;
  margin: 0.2em 0;
}

.input_recipe {
  overflow: hidden;
  border: 2px solid $accent-font-color;
  border-radius: 20px;
  outline: none;
  width: 100%;
  font-size: $font-small;
  display: block;
  padding: 0.4em 0.8em;
  line-height: 1.2em;
}

.input_recipe[contentEditable]:empty::before {
  content: 'Add next recipe step';
  color: gray;
}

@media screen and (max-width: $mediaQuery-tablet) {
  .popup_container {
    width: 80%;
    height: 70%;
  }
  .input_recipe {
    font-size: $font-regular;
  }

  .input_title {
    width: 26em;
    font-size: $font-large;
  }

  .accentFontColor {
    font-size: $font-regular;
  }
  .addIngredients__label {
    font-size: $font-regular;
  }
  .error_message {
    font-size: $font-regular;
  }
}

@media screen and (max-width: $mediaQuery-mobile) {
  .popup_container {
    width: 85%;
    height: 80%;
  }

  .add_title {
    flex-direction: column;
  }

  .title_label {
    font-size: $font-mobile-logo;
    margin-top: 0.8em;
  }

  .input_title {
    width: 100%;
    margin: 1.5em 0 1em;
    font-size: $font-mobile-large;
    border-radius: 10px;
    height: 2.5em;
  }

  .popup_main {
    flex-direction: column;
    height: 70%;
  }

  .accentFontColor {
    font-size: $font-mobile-regular;
  }
  .add_ingList {
    margin-right: 0;
    margin-bottom: 2em;
  }

  .addIngredients__grid {
    grid-template-rows: 1.8em;
    gap: 0.3em;
  }
  .addIngredients__label {
    font-size: $font-mobile-small;
  }
  .input_recipe {
    font-size: $font-mobile-regular;
  }
  .error_message {
    font-size: $font-mobile-regular;
  }
}
