.mainRecipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: $white-color;
  padding: 1.2rem 2rem;
  height: 100%;
  border: 4px solid mistyrose;
  border-radius: 20px;
  overflow-y: auto;
}

.recipe {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.8rem 0;
}

.recipe_process {
  font-size: $font-logo;
  color: $dark-second-color;
  margin-right: 2rem;
}

.recipe_content {
  font-size: $font-small;
}

@media screen and (max-width: $mediaQuery-tablet) {
  .mainRecipe {
    margin: 0;
    margin-top: 2.5em;
  }
  .recipe_content {
    font-size: $font-medium;
  }
}

@media screen and (max-width: $mediaQuery-mobile) {
  .mainRecipe {
    margin-top: 5em;
  }

  .recipe_process {
    font-size: $font-mobile-logo;
  }
  .recipe_content {
    font-size: $font-mobile-large;
  }
}
