.recipeList {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $white-color;
  flex-basis: 40%;
  border: 2px solid $accent-font-color;
  border-radius: 20px;
  padding: 1.2em 1em;
  font-size: $font-small;
  overflow-y: auto;
}

.new_recipeBtn {
  margin-bottom: 0.8em;
  width: 100%;
  padding: 0.6em;
  background-color: $primary-color;
  color: $font-color;
  font-weight: bold;
  border-radius: 20px;
  font-size: $font-small;
}

.new_recipeBtn:hover {
  background-color: $dark-second-color;
  color: $accent-font-color;
}

.new_recipeBtn:focus {
  background-color: $primary-color;
  color: $font-color;
}

@media screen and (max-width: $mediaQuery-tablet) {
  .new_recipeBtn {
    font-size: $font-medium;
  }
}

@media screen and (max-width: $mediaQuery-mobile) {
  .recipeList {
    display: none;
    margin: 0;
    margin-top: 2em;
    flex-basis: 100%;
    max-height: 80vh;
  }
  .menu_active {
    display: flex;
  }
  .new_recipeBtn {
    font-size: $font-mobile-large;
    border-radius: 10px;
  }
}
