$white-color: #ffffff;
$background-color: #fdfdfd;
$primary-color: #ffcdd2;
$dark-primary-color: #cb9ca1;
$accent-color: #fc9393;
$dark-second-color: #f76f71;
$font-color: #2e1914;
$accent-font-color: #fbe9e7;
$font-logo: 30px;
$font-large: 17px;
$font-medium: 15px;
$font-small: 14px;
$font-micro: 12px;
