$white-color: #ffffff;
$black-color: #000000;
$background-color: #fdfdfd;
$primary-color: #ffcdd2;
$dark-primary-color: #cb9ca1;
$accent-color: #fc9393;
$dark-second-color: #f76f71;
$font-color: #30140c;
$accent-font-color: #fbe9e7;
$font-logo: 1.4rem;
$font-large: 1rem;
$font-medium: 0.7rem;
$font-small: 0.6rem;
$font-micro: 0.5rem;
